@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  max-width: 1400px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-family: "Inter", sans-serif;
}
body .sidebar {
  display: none;
}
body .toggle_img {
  display: none;
}
@media screen and (max-width: 600px) {
  body .toggle_img {
    display: block;
    position: absolute;
    top: 2.2rem;
    right: 0.2rem;
    width: 10%;
    cursor: pointer;
  }
  body .sidebar {
    background-color: hsl(36deg, 100%, 99%);
    color: hsl(240deg, 100%, 5%);
    height: 100vh;
    width: 70%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    display: block;
    transition: 0.2s ease-in-out;
  }
  body .sidebar .close-button {
    position: absolute;
    top: 2em;
    right: 1.5em;
  }
  body .sidebar ul {
    margin-top: 9em;
  }
  body .sidebar ul li {
    display: block;
    margin: 2em 1em 1em 0;
  }
  body .sidebar ul a {
    text-decoration: none;
    margin-left: 1em;
    font-size: 1.3rem;
    color: hsl(240deg, 100%, 5%);
  }
  body .sidebar ul a:hover {
    color: hsl(5deg, 85%, 63%);
  }
  body .sidebar.active {
    display: none;
  }
}

.nav_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  padding: 1em 0 1em 0;
}
.nav_container .logo_container img {
  width: auto;
}
.nav_container ul {
  display: flex;
  justify-content: end;
  align-items: center;
}
.nav_container ul li {
  display: inline-block;
  margin-left: 1rem;
}
.nav_container ul a {
  text-decoration: none;
  margin-left: 2em;
  font-size: 1.3rem;
  color: hsl(240deg, 100%, 5%);
}
.nav_container ul a:hover {
  color: hsl(5deg, 85%, 63%);
}
@media screen and (max-width: 600px) {
  .nav_container ul li {
    display: none;
  }
}

section {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
section .top_container {
  width: 100%;
}
section .top_container .row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 2em;
}
section .top_container .row .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 600px) {
  section .top_container .row .left .imgHolder .desktop {
    width: 100%;
    object-fit: cover;
    display: block;
  }
  section .top_container .row .left .imgHolder .mobile {
    width: 100%;
    object-fit: cover;
    display: none;
  }
}
section .top_container .row .left .down {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0;
}
section .top_container .row .left .down .down_left {
  padding: 1em 1em 1em 0;
  display: flex;
  flex-direction: column;
}
section .top_container .row .left .down .down_left h1 {
  color: hsl(240deg, 100%, 5%);
  font-size: 3rem;
  font-weight: 800;
}
section .top_container .row .left .down .down_right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1em;
}
section .top_container .row .left .down .down_right p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
section .top_container .row .left .down .down_right button {
  background: hsl(240deg, 100%, 5%);
  color: hsl(233deg, 8%, 79%);
  font-size: 1em;
  font-weight: 400;
  padding: 1em;
  border: none;
  width: 50%;
  margin-top: 2rem;
  transition: 0.2s ease-in-out;
}
section .top_container .row .left .down .down_right button:hover {
  background: hsl(5deg, 85%, 63%);
  border: none;
  color: hsl(36deg, 100%, 99%);
}
section .top_container .row .right {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-direction: column;
  background: hsl(240deg, 100%, 5%);
  color: hsl(233deg, 8%, 79%);
  padding: 1rem;
}
section .top_container .row .right h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: hsl(35deg, 77%, 62%);
}
section .top_container .row .right h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 0;
}
section .top_container .row .right p {
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
section .top_container .row .right hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 600px) {
  section .top_container .row {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  section .top_container .row .imgHolder .desktop {
    width: 100%;
    object-fit: cover;
    display: none;
  }
  section .top_container .row .imgHolder .mobile {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  section .top_container .row .down_left {
    padding: 1em 1em 2em 0.5em;
  }
  section .top_container .row .down_right {
    padding: 1em 1em 2em 0.5em;
  }
}

.container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  align-items: center;
  margin-top: 1rem;
}
.container2 .row2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  margin-right: 2.5rem;
  padding: 1em 1em 2em 0.5em;
}
.container2 .row2 img {
  width: 100%;
  height: 100%;
  padding-right: 1rem;
}
.container2 .row2 h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: start;
  color: hsl(233deg, 8%, 79%);
}
.container2 .row2 h4 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.container2 .row2 p {
  font-size: 1rem;
  font-weight: 400;
  color: hsl(236deg, 13%, 42%);
}
