
@use "variable";
@import "./mixin/sidebar";
@import "./mixin/navbar";
@import "./mixin/section";
@import "./mixin/footer";

// css
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    max-width: 1400px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-family: 'Inter', sans-serif;
    .sidebar{
        display: none;
    }
    .toggle_img{
        display: none;

    }
//  media querry for sidebar
@include sidebar;              
}

// navbar.
@include navbar;

// main section
@include section;

// footer section
@include footer;

// footer section

